

```
PYTHON DATA STRUCTURE
```

Theorytical Questions

1. What are data structures, and why are they important?

  - The Importance of Understanding Data StructuresData structures are specialized formats for organizing and storing data to enable efficient access and manipulation. They are fundamental in computer science and programming because they provide structured ways to manage data, impacting the performance, readability, and scalability of code. Choosing the right data structure can significantly affect how quickly a program can run and how much memory it use.

2. Explain the difference between mutable and immutable data types with examples?

  - Mutable data types can be modified after they're created, while immutable data types cannot. Mutable examples include lists and dictionaries, while immutable examples include strings and tuples.

3. What are the main differences between lists and tuples in Python?

  - Lists are mutable, meaning their elements can be changed after creation (elements can be added, removed, or modified). Tuples, on the other hand, are immutable; once created, their elements cannot be changed. Lists are defined using square brackets [], while tuples are defined using parentheses ().

4. Describe how dictionaries store data?

  - Dictionaries are used to store data values in key:value pairs. A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

5. Why might you use a set instead of a list in Python?

  - Sets automatically eliminate duplicate values. If maintaining unique elements is a requirement, using a set simplifies the process compared to manually checking for duplicates in a list. Sets support mathematical set operations like union, intersection, and difference. These operations are useful for comparing and manipulating collections of data

6. What is a string in Python, and how is it different from a list?

  - A string is a sequence of characters between single or double quotes. A list is a sequence of items, where each item could be anything (an integer, a float, a string, etc)

7. How do tuples ensure data integrity in Python?

  - Tuples are immutable to ensure that their contents remain constant throughout their lifecycle, guaranteeing data integrity and reliability. This immutability allows tuples to be used as keys in dictionaries and elements in sets

8. What is a hash table, and how does it relate to dictionaries in Python?

  - In Python, the Dictionary data types represent the implementation of hash tables. The Keys in the dictionary are hashable–they are generated by a hash function which generates a unique result for each unique value supplied to the hash function. Also, the order of data elements in a dictionary is not fixed.

9. Can lists contain different data types in Python?

  - Yes, lists in Python can contain items of different data types. A single list can store integers, strings, floats, booleans, and even other lists or data structures.

10. Explain why strings are immutable in Python?

  - Strings in Python are immutable because of design choices that prioritize efficiency, safety, and simplicity. Immutability ensures that a string's value remains constant throughout its lifetime.

11. What advantages do dictionaries offer over lists for certain tasks?

  - Dictionaries in Python offer fast data retrieval: Unlike lists where you have to traverse through each element to find a value, dictionaries use hash tables for quick access to values based on keys.

12.  Describe a scenario where using a tuple would be preferable over a list?

  - Tuples are immutable. Hence, they are primarily used to store data that doesn't change frequently. Any operation can store data in a tuple when you don't want it to change

13. How do sets handle duplicate values in Python?

  - Sets in Python are designed to store only unique elements. When an attempt is made to add a duplicate value to a set, it is automatically ignored, and the set remains unchanged. This behavior ensures that a set always contains distinct elements

14. How does the “in” keyword work differently for lists and dictionaries?

  - the "in" operation for the dictionary tests on keys. The key of the dictionary is a unique value as well as the set, and the execution time is about the same as for sets

15. Can you modify the elements of a tuple? Explain why or why not?

  - No, you cannot directly modify the elements of a tuple in Python. Tuples are immutable, meaning their contents cannot be changed once they are created.

16.  What is a nested dictionary, and give an example of its use case?

  - A nested dictionary in Python is a dictionary where the values are themselves dictionaries. This allows for structuring data in a hierarchical way, where you can store complex, multi-layered information

17.  Describe the time complexity of accessing elements in a dictionary?

  -

18.  In what situations are lists preferred over dictionaries?

  - For quick data look-ups, configurations, or caches, favor dictionaries. For ordered collections and sequence operations, such as maintaining a stack or queue, lists are more suitable

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

  - A dictionary is termed an unordered collection of objects because dictionaries do not maintain any inherent order of the items based on when they were added

20. Explain the difference between a list and a dictionary in terms of data retrieval.

  - A list is an ordered collection of items, whereas a dictionary is an unordered data collection in a key: value pair. Elements from the list can be accessed using the index, while the elements of the dictionary can be accessed using keys.

Practical Questions

In [4]:
# 1. Write a code to create a string with your name and print it?

name = input("enter your name")
print(name)

enter your namesuhit
suhit

In [5]:
# 2. Write a code to find the length of the string "Hello World"?

string = "hello world"
len(string)

11

In [6]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming"?

text = "Python Programming"
first_three = text[:3]
print(first_three)

Pyt

In [7]:
# 4. Write a code to convert the string "hello" to uppercase?

text = "hello"
uppercase = text.upper()
print(uppercase)

HELLO

In [8]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple"?

original_string = "I like apple"
new_string = original_string.replace("apple", "orange")
print(new_string)

I like orange

In [9]:
# 6. Write a code to create a list with numbers 1 to 5 and print it?

list = [1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [11]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4]?

list = [1,2,3,4,5]
list.append(10)
print(list)

[1, 2, 3, 4, 5, 10]

In [13]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?

list = [1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [15]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']?

list = ["a", "b", "c", "d"]
mylist = list[1]
print(mylist)

b

In [17]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50]?

list = [10, 20, 30, 40, 50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

In [18]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it?

tuple = (100, 200, 300)
print(tuple)

(100, 200, 300)

In [19]:
# 12.  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')?

colors = ("red", "green", "blue", "yellow")
x = colors[2]
print(x)

blue

In [21]:
# 13.  Write a code to find the minimum number in the tuple (10, 20, 5, 15).

num = (10, 20, 5, 15)
min = min(num)
print(min)

5

In [22]:
# 14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')?

animals = ('dog', 'cat', 'rabbit')
index = animals.index('cat')
print(index)

1

In [25]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it?

fruits = ("apple", "banana", "kiwi", "mango", "orange")
if "kiwi" in fruits:
  print("it is there in tuple")
else:
  print("it is not there in tuple")

it is there in tuple

In [26]:
# 16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it?

set = {"a", "b", "c", "d"}
print(set)

{'b', 'd', 'a', 'c'}

In [27]:
# 17.  Write a code to clear all elements from the set {1, 2, 3, 4, 5}?

set = {1, 2, 3, 4, 5}
set.clear()
print(set)

set()

In [30]:
# 18.  Write a code to remove the element 4 from the set {1, 2, 3, 4}?

set = {1,2,3,4}
set.remove(4)
print(set)

{1, 2, 3}

In [31]:
# 19. . Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = {*set1, *set2}
print(union_set)

{1, 2, 3, 4, 5}

In [32]:
# 20.  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1 & set2
print(intersection_set)

{2, 3}

In [33]:
# 21.  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

person = dict(name="Alice", age=25, city="London")
print(person)

{'name': 'Alice', 'age': 25, 'city': 'London'}

In [34]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [35]:
# 23.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

person = {'name': 'Alice', 'age': 30}
name_value = person['name']
print(name_value)

Alice

In [36]:
# 24.  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}

person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

In [37]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

person = {'name': 'Alice', 'city': 'Paris'}
if 'city' in person:
    print("Key 'city' exists!")
else:
    print("Key 'city' does not exist.")

Key 'city' exists!

In [38]:
# 26.  Write a code to create a list, a tuple, and a dictionary, and print them all.

list = [1,2,3,4]
tuple = (1,2,3,4)
dict = {"name" : "shreshtha" , "city" : "kolkata"}
print(list)
print(tuple)
print(dict)

[1, 2, 3, 4]
(1, 2, 3, 4)
{'name': 'shreshtha', 'city': 'kolkata'}

In [39]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.

import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print("Sorted random numbers:", random_numbers)

Sorted random numbers: [27, 73, 75, 89, 97]

In [40]:
# 28.  Write a code to create a list with strings and print the element at the third index

my_list = ["apple", "banana", "cherry", "date", "elderberry", "fig"]
print("Element at index 3:", my_list[3])

Element at index 3: date

In [41]:
# 29. Write a code to combine two dictionaries into one and print the result.

dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'c': 4}

dict1.update(dict2)
print("Combined dictionary:", dict1)

Combined dictionary: {'a': 1, 'b': 3, 'c': 4}

In [45]:
# 30. Write a code to convert a list of strings into a set